@font-face {
    font-family: 'Getaway';
    src: url('GetawayRegular.woff2') format('woff2'),
        url('GetawayRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

